@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/quincycf-thin.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/quincycf-light.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/quincycf-text.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quincycf-regular.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/quincycf-medium.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/quincycf-bold.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quincycf-extrabold.otf') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'quincy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/quincycf-black.otf') format('opentype');
}